<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인근's ToDo App</title>
</head>
<body>
    <div id = 'app'>

        <h1>인근's ToDo App !</h1>
        <strong>서로 할 일이나 의견을 공유해 봅시다.</strong>
        <br>

        <form class="InputBox" action="." methods="post">
            {% csrf token %}
            <input class="name" type="text" placeholder="이름" name="name">
            <input class="item" type="text" placeholder="할 일을 적어주세요" name="todo">
            <button type="submit" class="btn btn-info btn-sm">ADD</button>
        </form>

        <ul class="todoList">
            {% for todo in object_list %}
            <li>
                <span>{{ todo.name }}:: {{ todo.todo }}</span>
                <span class="removeBtn"><a href="{% url 'todo:delete' todo.id %}">Remove</a></span>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>